.ball {
    display: block;
    background: black;
    margin: 0;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: radial-gradient(circle at 100px 100px, #50E3C4, #000);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stage {
    width: 100px;
    height: 100px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    display: flex;
}

.block{
    width: 100px;
    height: 100px;
    background-color: #0a2b3d;
}
.spring-1{
    width: calc(50% - 50px);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.spring-1 .bar{
    width: 5px;
    height: 100%;
    background-color: rgb(78, 73, 73); 
    border-radius: 10px; 
}
.spring-1 .bar-initial{
    width: 5px;
    height: 20px;
    background-color: rgb(78, 73, 73); 
    border-radius: 10px; 
}
.spring-2{
    width: calc(50% - 50px);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: spring 2s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
   
}
.spring-2 .bar{
    width: 5px;
    height: 100%;
    background-color: rgb(78, 73, 73); 
    border-radius: 10px; 
}
.spring-2 .bar-initial{
    width: 5px;
    height: 20px;
    background-color: rgb(78, 73, 73); 
    border-radius: 10px; 
}
.section-ball {
    left: calc(50% - 50px);
    top: calc(40% - 50px);
    transform-origin: 0% 0%;
    animation: mymove2 1s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear
}

.container-pendulum {
    left: calc(50% - 50px);
    position: absolute;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform-origin: top center;
   animation: mymove 2s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear 
}

.pendulum {
    width: 2px;
    height: 100%;
    left: calc(50% - 1px);
    background-image: url('https://sc01.alicdn.com/kf/HTB1y1rOXEvrK1RjSszfq6xJNVXaB.jpg_350x350.jpg');
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.protactor-angular {
    position: absolute;
    left: calc(50% - 150px);
    width: 300px;
    height: 150px;
    border: 2px solid rgb(0, 0, 0);
    -moz-border-radius: 150px 150 0 0;
    -webkit-border-radius: 150 150 0 0;
    border-radius: 0 0 150px 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font: 11px Monaco, MonoSpace;
    background-color: rgba(255, 255, 255, 0.5);
   
}
.subprotactor-angular{
    position: absolute;
    left: calc(50% - 100px);
    width: 200px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
    -moz-border-radius: 100px 100 0 0;
    -webkit-border-radius: 100 100 0 0;
    border-radius: 0 0 100px 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font: 11px Monaco, MonoSpace;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}
.chart{
    position: absolute;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform-origin: top center;
    align-items: center;
}
.chart1{
    transform: rotate(90deg);
}
.chart2{
    transform: rotate(80deg);
}
.chart3{
    transform: rotate(70deg);
}
.chart4{
    transform: rotate(60deg);
}

.chart5{
    transform: rotate(50deg);
}
.chart6{
    transform: rotate(40deg);
}
.chart7{
    transform: rotate(30deg);
}
.chart8{
    transform: rotate(20deg);
}

.chart9{
    transform: rotate(10deg);
}
.chart10{
    transform: rotate(0deg);
}
.chart11{
    transform: rotate(-10deg);
}
.chart12{
    transform: rotate(-20deg);
}

.chart13{
    transform: rotate(-30deg);
}
.chart14{
    transform: rotate(-40deg);
}
.chart15{
    transform: rotate(-50deg);
}
.chart16{
    transform: rotate(-60deg);
}

.chart17{
    transform: rotate(-70deg);
}
.chart18{
    transform: rotate(-80deg);
}
.chart19{
    transform: rotate(-90deg);
}

/* .char1 {
    transform: rotate(90deg);
}

.char2 {
    transform: rotate(80deg);
}

.char3 {
    transform: rotate(70deg);
}

.char4 {
    transform: rotate(60deg);
}
.char5 {
    transform: rotate(50deg);
}
 */
@keyframes mymove {
    from {
        transform: rotate(40deg);
    }
    to {
        transform: rotate(-40deg);
    }
}
@keyframes spring {
    /* from {
        width: calc(50% - 50px);
    }
    to {
        width: calc(200% - 50px);
    } */
}